<!-- Header -->
  <header class="header">
    <div class="header-inner">
      <a href="#" class="logo">
        <span class="logo-icon">&#9733;</span>
        <span class="logo-text">StarRail<span class="logo-accent">Station</span></span>
      </a>
      
      <nav class="nav">
        <a href="/" class="nav-link active">Главная</a>
        <a href="/topics" class="nav-link">Топики</a>
        <a href="#" class="nav-link">Гайды</a>
        <a href="#" class="nav-link">Персонажи</a>
        <a href="#" class="nav-link">События</a>
      </nav>

      <div class="header-actions">

  <% if (!user) { %>

    <button onclick="location.href='/login'" class="btn btn-ghost">Войти</button>
    <button onclick="location.href='/reg'" class="btn btn-primary">Регистрация</button>
    
  
  <% } else { %>

      <% 
      let link = "/user/lk";
      if (user.role== 1) link = "/admin/dashboard";
      else if (user.role == 3) link = "/moder/lkk";
      %>
    <a href="<%= link %>" class="btn btn-primary" style="display:flex;align-items:center;gap:8px;">
      <span style="width:24px;height:24px;border-radius:50%;background:#6c5ce7;display:inline-flex;align-items:center;justify-content:center;color:#fff;font-size:12px;">
        <%= userData.username[0].toUpperCase() %>
      </span>
     <%= userData.username %>
    </a>

    <button onclick="location.href='/logout'" class="btn btn-ghost">
      Выйти
    </button>

  <% } %>
</div>
  </header>