<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная - HSR Форум</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %>
    <h2>Добро пожаловать на HSR Форум!</h2>
    <p>Здесь будет содержимое главной страницы.</p>
    <%- include('partials/footer') %>
</body>
</html>